<div class="flex items-center justify-center mt-40">
  <div class="card">
    <img
      class="cursor-pointer"
      [src]="
        imageSrc ? 'data:image/jpeg;base64,' + imageSrc : '/assets/600x800.png'
      "
      alt="beer-image"
      (click)="fileInput.click()"
    />
    <form class="p-5" [formGroup]="beerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="relative z-0 w-full mb-6 group">
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          placeholder=" "
          class="floating-input peer"
        />
        <label for="name" class="floating-label">Name*</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
        <label for="underline_select" class="sr-only">Underline select</label>
        <select
          formControlName="breweryId"
          name="breweryId"
          id="underline_select"
          class="underline-select peer"
        >
          <option value="" disabled selected>Select brewery</option>

          <option *ngFor="let brewery of breweries" value="{{ brewery.id }}">
            {{ brewery.name }}
          </option>
        </select>
      </div>

      <div class="mb-6">
        <rating formControlName="rating" [displayLabel]="true"></rating>
      </div>

      <input
        hidden
        (change)="onFileSelected()"
        #fileInput
        accept=".jpg, .png"
        type="file"
        id="file"
      />

      <button type="submit" class="btn-blue w-full">Save</button>

      <div *ngIf="beer?.id">
        <button type="button" (click)="onDelete()" class="btn-red w-full">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
